@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

* {
  font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
}

/* font */

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra Light';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Extra Light'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdXLt.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Extra Light Condensed'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdXLtCn.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Extra Light Condensed Oblique'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdXLtCnObl.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra Light Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Extra Light Oblique'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdXLtObl.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdBk.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book Condensed'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdBkCn.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book Condensed Oblique'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdBkCnObl.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book Oblique'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdBkObl.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Medium'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdMd.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Medium Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Medium Condensed'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdMdCn.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Medium Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Medium Condensed Oblique'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdMdCnObl.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Medium Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Medium Oblique'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdMdObl.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Demi'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdDemi.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Demi Condensed'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdDemiCn.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Demi Condensed Oblique'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdDemiCnObl.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Demi Oblique'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdDemiObl.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Bold';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Bold'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdBold.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Bold Condensed'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdBoldCn.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Bold Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Bold Condensed Oblique'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdBoldCnObl.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Bold Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Bold Oblique'), url('/fonts/ITCAvantGarde/ITCAvantGardeStdBoldObl.woff') format('woff');
}
